[data-canvas-size-preset="canvas-portrait-4_25x6_87"] {
  --canvas-width-in: 4.25;
  --canvas-height-in: 6.87;
  --canvas-width-px: 1275;
  --canvas-height-px: 2061;
  --canvas-aspect: 4.25 / 6.87;
}
