[data-canvas-size-preset="canvas-portrait-6_14x9_21"] {
  --canvas-width-in: 6.14;
  --canvas-height-in: 9.21;
  --canvas-width-px: 1842;
  --canvas-height-px: 2763;
  --canvas-aspect: 6.14 / 9.21;
}
